body{
    /*COR DE FUNDO*/
    background-color: rgb(241, 237, 239);
}
h1{
    /*SUBTITULO*/
    text-align: center;
    color: black;
}
h2{
     /*2SUBTITULO*/
    text-align: center;
    color: rgb(255, 251, 4);
}
p{
     /*LETRAS*/
    text-align: center;
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-family:  Arial, Helvetica, sans-serif ;
}
p strong{
     /*LETRAS EM NEGRITO*/
    color: #00ff00;
}
/*LOGO*/
#logo{
    width: 200px; ;
}
/*banner*/
#banner-principal{
    width: 100%;
}
.banner{
    width: 250px;
    height: 250px;
    border-radius: 40%;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#logo{
  height: 70px;
}
.menu ul li{
    display: inline;
} 
.conteiner{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
.conteudo{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.banner{
    width: 250px;
    height: 250px;
    border-radius: 40%;
}
.banner{
    width: 259px;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 40%;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#video{
    background: #054e05;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    border-bottom: 3px solid orange;
}
#video > .conteiner > img{
    height: 315px ;
}
footer{  
    text-align: center;
    padding: 20px;
}
.menu > ul> li> a:link{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.menu > ul > li> a:hover{
    border-bottom: 2px solid green;
}
.menu > ul > li> a:active{
    color: #00ff00;
    border-bottom: 2px solid green;
    font-weight: 700;
}

